$deepBlue-5: #f1f3f4;
$deepBlue-100: #000C2F;
$blue-5: #F2F8FF;
$blue-80: #3394FF;
$blue-100: #007AFF;
$blue-link: #007AB8;
$grey-off-white: #E6E6E6;
$grey-light: #d8d8d8;
$grey-neutral-text: #484848;
$teal: #008489;
$teal-dark: #01696d;

$green-80: #42c299;

$container-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
$button-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.12);
$baby-shadow: 0 1px 0 rgba(0,0,0,.25);

$screen-xs-max: 480px;
$screen-sm-min: 768px;
$screen-md-mid: 992px;
$screen-lg-min: 1200px;
