{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>{% block titletext %} {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Anton|Bree+Serif|Julius+Sans+One|Magra" rel="stylesheet">

</head>
<body>
	<div class="nav">
		<div class="container">
			<div id="logo" class="nav-item">
				<a href="{% url 'codedoor:home' %}">
					<img src="{% static 'images/logo.svg' %}" width="41px" height="58px" />
				</a>
			</div>
			<div class="nav-left">
				<div id = topsearch>
					<img class="item" src="{% static 'images/search_icon.png' %}" width="25px" height="25px" />
					<form class = "item bar" action="{% url 'codedoor:search' database='reviews' %}" method="GET">
						<!--<button id="search" type="submit">-->
							<!--<img src="{% static 'images/search_icon.png' %}" width="25px" height="25px" />-->
						<!--</button>-->
					<input id="searchtype" name="query" type="text" placeholder='Search'>
					</form>
				</div>

			<div class="nav-right">
				{% if request.user.is_authenticated %}
					{% if user.profile %}
						<a href="{% url 'codedoor:viewprofile' pk=user.profile.pk %}">
							<div id="profile-circle" style="background-image: url('{{ user.profile.profile_pic }}');">
							</div>
						</a>
					{% endif %}
					<a id="logout" href="{% url 'codedoor:logout' %}">Logout</a>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="content">
		<div class="container">
			{% block content %}
			{% endblock content %}
		</div>
	</div>
</body>
</html>
