{% extends 'codedoor/base.html' %}
{% load static %}

{% block content %}

<div class="rank-list-container">
  <div class="rank-list-header">
    <h1>CodeBucks Leaderboards</h1>
  </div>
  <ol class="rank-list">
    {% for profile in top_profiles %}
      <li class="rank-list-li">
        <div class="rank-list-li-profile-circle" style="background-image: url('{{ profile.profile_pic }}');"></div>
        <a href="{% url 'codedoor:viewprofile' pk=profile.id %}" class="rank-list-li-name">{{ profile.user.get_full_name }}</a>
        <span class="rank-list-li-item">
          <img class="rank-list-li-icon" src="{% static 'images/codebank.png' %}" alt="Codebucks">
          <span>{{ profile.codebucks }}</span>
        </span>
      </li>
    {% endfor %}
  </ol>
</div>

{% endblock %}