{% extends 'codedoor/base.html' %}
{% load static %}

{% block content %}

<div class="rank-list-container">
  <div class="rank-list-header">
    <h1>CodeBucks Leaderboards</h1>
  </div>
  <ol class="rank-list">
    {% for profile in top_profiles %}
      <li class="rank-list-li">
        <div class="rank-list-li-profile-circle" style="background-image: url('{{ profile.profile_pic }}');"></div>
        <a href="{% url 'codedoor:viewprofile' pk=profile.id %}" class="rank-list-li-name">{{ profile.user.get_full_name }}</a>
        <span class="rank-list-li-item">
          <img class="rank-list-li-icon" src="{% static 'images/codebank.png' %}" alt="Codebucks">
          <span>{{ profile.codebucks }}</span>
        </span>
      </li>
    {% endfor %}
  </ol>
</div>
<div>
  <h1>CodeBucks FAQ</h1>
  <h2>What are CodeBucks?</h2>
  <p>
    CodeBucks are a new currency we invented! Like any currency, they're only worth what people think they're worth,
    and like any currency, you can trade CodeBucks to other people, earn them by providing services to CodeBase, and
    even gamble them away in games!
  </p>
  <h2>How do I give CodeBucks to people?</h2>
  <p>
    On Slack, type in <code>&#47;send @user 100</code> to send a user 100 CodeBucks!
  </p>
  <h2>How do I earn CodeBucks?</h2>
  <p>
    Right now, the best way to earn CodeBucks is by writing reviews or interview experiences right here on CodeDoor!
    Every review you write is worth 1000 CodeBucks and every interview experience is worth 150. Don't be a butthead and
    write fake reviews, though. Every CodeBuck you earn is logged, so you will get caught and face consequences!
  </p>
  <h2>How do I gamble CodeBucks?</h2>
  <p>
    Gambling is extremely dangerous for your CodeBank account and we do not recommend it! Nevertheless, you can gamble
    by typing <code>&#47;coinflip AMOUNT</code> anywhere in Slack.
  </p>
</div>

{% endblock %}