<html>
<head></head>
<body>
	<h1> Create company </h1>
	<form action="createcompany" method="POST">
		{% csrf_token %}
		Company name <br>
		<input type="text" name="name"><br>
		Industry <br>
		<input type="text" name="industry"><br>
		Website <br>
		<input type="url" name="website"><br>
		Logo <br>
		<input type="file" name="logo"><br>
		Type of company <br>
		<input type="radio" name="structure" value="Startup"> Startup <br>
		<input type="radio" name="structure" value="Boutique"> Boutique <br>
		<input type="radio" name="structure" value="Medium"> Medium <br>
		<input type="radio" name="structure" value="Small"> Small <br>
		<input type="radio" name="structure" value="Large"> Large <br>
		<br>
		<input type="submit" value="Submit">
	</form>
</body>
</html>
