{% extends 'codedoor/base.html' %}
{% load static from staticfiles %}

{% block content %}

<head>
  <link rel="stylesheet" href="{% static 'css/question.css' %}">
</head>
<form action="{% url 'codedoor:create_application' %}" method="POST">
    {% csrf_token %}
    <div class="entry">
        <h4>Description:</h4><br>
        <textarea name="description" placeholder="Description of application"></textarea><br>
    </div>
    <div class="entry">
        <h4>Year:</h4><br>
        <input type="number" name="year" placeholder="e.g. 2015"></input><br>
    </div>
    <div class="entry">
        <h4>Position:</h4><br>
        <input name="position" placeholder="Position held"></input><br><br>
    </div>
    <div class="entry">
        <h4>Season:</h4><br>
        <select name="season" required>
            <option value="Fall">Fall</option>
            <option value="Winter">Winter</option>
            <option value="Spring">Spring</option>
            <option value="Summer">Summer</option>
        </select>
    </div>
    <div class="entry">
        <h4>Received Offer:</h4><br>
        <input type="radio" name="received_offer" value="Yes">Yes<br>
        <input type="radio" name="received_offer" value="No">No<br><br>
    </div>
    <div class="entry">
        <h4>Offer details:</h4><br>
        <textarea name="offer_details" placeholder="Offer details"></textarea><br><br>
    </div>
    <div class="entry">
        <h4>Difficulty:</h4><br>
        <input type = "number" name="difficulty" placeholder="1-10"></input><br><br>
    </div>
    
    <div class="entry">
        <button type="submit" class="big">Submit</button>
    </div>
</form>

{% endblock content %}

