{% extends 'codedoor/base.html' %}
{% load static %}

{% block content %}
<html>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/createprofile.css' %}">
<h1>
    Create Profile
</h1>
<form action="/codedoor/createprofile" method="POST"> {% csrf_token %}
    <div class="entry">
        Full Name:
        <input type="text" name="name">
    </div>
    <!--
    <div class="entry">
        Profile Picture:
        <input type="image" name="profile_pic">
    </div>
    -->
    <div class="entry">
        Graduation Year:
        <input type="number" name="graduation_year">
    </div>
    <div class="entry">
        Current Job:
        <input type="text" name="current_job">
    </div>
    <div class="entry">
        LinkedIn:
        <input type="url" name="linkedin">
    </div>
    <!--
    <div class="entry">
        Resume:
        <input type="file" name="resume">
    </div>
    -->
    <div id="submit">
        <input type="submit" value="Submit">
    </div>
</form>
</html>
{% endblock %}