{% extends 'codedoor/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/basecompany.css' %}">
  <div class = "centered">
	<h1> Create company </h1><br>
	<form action="{% url 'codedoor:createcompany' %}" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="space">
			Logo <br>
			<div class="border">
				<input type="file" name="logo" id ="logo1" >
			</div>
		</div><br>
		<div class="space">
			Company name <br>
			<div class="border-text">
				<input type="text" name="name">
			</div>
		</div><br>
		<div class="space">
			Industry <br>
			<div class="border-text">
				<input type="text" name="industry">
			</div>
		</div><br>
		<div class="space">
			Website <br>
			<div class="border-text">
				<input type="url" name="website">
			</div>
		</div><br>

		<div class="space">
			Type of company <br>
			<div class="border">
				<input type="radio" name="structure" value="Startup"> Startup <br>
				<input type="radio" name="structure" value="Boutique"> Boutique <br>
				<input type="radio" name="structure" value="Medium"> Medium <br>
				<input type="radio" name="structure" value="Small"> Small <br>
				<input type="radio" name="structure" value="Large"> Large <br>
			</div>
		</div><br>
		<div id="submit"><input type="submit" value="Submit"></div>
	</form>

{% endblock %}
