{% extends 'codedoor/base.html' %}
{% load static %}

{% block content %}
<html>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/editprofile.css' %}">
<h1>
    Edit Profile: {{ profile.user.get_full_name }}
</h1>
<form action="{% url 'codedoor:editprofile' pk=profile.id %}" method="POST"> {% csrf_token %}
     <div class="entry">
        Username:
        <input type="text" name="username" value = {{ profile.user.username }} required>
    </div>
     <!--<div class="entry">-->
        <!--Password:-->
        <!--<input type="text" name="password" value = {{ profile.user.password }} required>-->
    <!--</div>-->
    <!--should we be allowing this functionality? profile.user.password is an ugly hashcode of the PW atm-->
     <div class="entry">
        Email:
        <input type="email" name="email" value = {{ profile.user.email }} required>
    </div>
    <div class="entry">
        First Name:
        <input type="text" name="first_name" value="{{ profile.user.first_name }}" required>
    </div>
    <div class="entry">
        Last Name:
        <input type="text" name="last_name" value="{{ profile.user.last_name }}" required>
    </div>
    <!--
    <div class="entry">
        Profile Picture:
        <input type="image" name="profile_pic">
    </div>
    -->
    <div class="entry">
        Graduation Year:
        <input type="number" name="graduation_year" value="{{ profile.graduation_year }}" required>
    </div>
    <!--
    <div class="entry">
        Email:
        <input type = "text" name="email" value="{{  profile.email }} required">
    </div>
    -->
    <div class="entry">
        Current Job:
        <input type="text" name="current_job" value="{{ profile.current_job }}">
    </div>
    <div class="entry">
        LinkedIn:
        <input type = "text" name = "linkedin" value="{{ profile.linkedin }}">
    </div>
    <!--
    <div class="entry">
        Resume:
        <input type="file" name="resume">
    </div>
    -->
    <div id="submit">
        <input type="submit" value="Save Changes">
    </div>
</form>
</html>
{% endblock %}