{% extends 'codedoor/base.html' %}
{% load static %}

{% block content %}
<html>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/editprofile.css' %}">
<h1>
    Edit Profile: {{ profile.name }}
</h1>
<form action="/codedoor/eprofile" method="POST"> {% csrf_token %}
    <input type="hidden" name="pk" value="{{ profile.id }}">
    <div class="entry">
        Full Name:
        <input type="text" name="name" value={{ profile.name }} required>
    </div>
    <!--
    <div class="entry">
        Profile Picture:
        <input type="image" name="profile_pic">
    </div>
    -->
    <div class="entry">
        Graduation Year:
        <input type="number" name="graduation_year" value={{ profile.graduation_year}} required>
    </div>
    <!--
    <div class="entry">
        Email:
        <input type = "text" name="email" value="{{  profile.email }} required">
    </div>
    -->
    <div class="entry">
        Current Job:
        <input type="text" name="current_job" value={{ profile.current_job}}>
    </div>
    <div class="entry">
        LinkedIn:
        <input type = "text" name = "linkedin" value={{ profile.linkedin}}>
    </div>
    </div>
    <!--
    <div class="entry">
        Resume:
        <input type="file" name="resume">
    </div>
    -->
    <div id="submit">
        <input type="submit" value="Save Changes">
    </div>
</form>
</html>
{% endblock %}