{% extends 'codedoor/base.html' %}
{% block content %}

	<h1> Edit Company </h1>
	<form action="codedoor/editcompany" method="POST">
		{% csrf_token %}
		Company name <br>
		<input type="text" name="name" value={{company.name}}><br>
		Industry <br>
		<input type="text" name="industry" value={{company.industry}}><br>
		Website <br>
		<input type="url" name="website" value={{company.website}}><br>
		Logo <br>
		<input type="file" name="logo" value={{company.logo}}><br>
		Type of company <br>
		<input type="radio" name="structure" value="Startup"> Startup <br>
		<input type="radio" name="structure" value="Boutique"> Boutique <br>
		<input type="radio" name="structure" value="Medium"> Medium <br>
		<input type="radio" name="structure" value="Small"> Small <br>
		<input type="radio" name="structure" value="Large"> Large <br>
		<br>
		<input type="submit" value="Submit">
	</form>

{% endblock %}
