{% extends 'codedoor/base.html' %}
{% load static %}
{% block content %}
  <div class = "centered">
  <h1> Edit your Review </h1>
  <div id="form">
    <form action="{% url 'codedoor:editreview' pk=review.pk %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="space">
        Review Title <br>
        <div class="border">
          <div id="title">
            <input type="text" name="title" value="{{review.title}}">
          </div>
        </div>
      </div><br>
      <div class="space">
        Companies <br>
        <div class="border">
          <select name="company" class="select-style">
                  <option value={{review.company.pk}} selected>{{review.company.name}}</option>
            {% for company in companies %}
                {% if company.pk != review.company.pk %}
                  <option value={{company.pk}}>{{company.name}}</option>
                {% endif %}
            {% endfor %}
          </select>
        </div>
      </div><br>
      <div class="space">
        Rating <br>
        <div class="border">
          <div id="number">
            <input type="number" name="rating" min="1" max="5" step="0.5" value={{review.rating}}>
          </div>
        </div>
      </div><br>
      <div class="space">Recommend
        <div class="border">
          {% if review.recommend %}
            <span><input type="radio" name="recommend" value=True checked>  Yes</span><br>
            <span><input type="radio" name="recommend" value=False>  No</span><br>
          {% else %}
            <span><input type="radio" name="recommend" value=True>  Yes</span>
            <span><input type="radio" name="recommend" value=False checked>  No</span><br>
          {% endif %}

        </div>
      </div><br>
      <div class="space">Review <br>
        <div class="border">
          <textarea type="text" name="review">{{review.review}}</textarea>
        </div>
      </div><br>
      <div id="submit"><input type="submit" value="Submit Review"></div>
    </form>
  </div>
{% endblock %}
