{% extends 'codedoor/base.html' %}
{% load static from staticfiles %}
{% block content %}
<div class="centered">
	<h1> Edit Company Information </h1><br>
	<form action="{% url 'codedoor:editcompany' pk=company.pk %}" method="POST">
		{% csrf_token %}
		<div class="space">
			<h4>Company name</h4>
			<div class="border-text">
				<input type="text" name="name" value="{{company.name}}" id="name" class="input-text input-md">
			</div>
			<p class="error" id="name-error">
      </p>
		</div><br>
		<div class="space">
			<h4>Industry</h4>
			<div class="border-text">
				<input type="text" name="industry" value="{{company.industry}}" id="industry" class="input-text input-md">
			</div>
			<p class="error" id="industry-error">
      </p>
		</div><br>
		<div class="space">
			<h4>Website</h4>
			<div class="border-text">
				<input type="url" name="website" value="{{company.website}}" id="website" class="input-text input-md">
			</div>
			<p class="error" id="website-error"></p>
		</div>
		<h4>Type of company</h4>

		<select name="structure" class="input-dropdown">
		{% for x in type %}
			{% if x != company.structure %}
				<option value= "{{x}}"> {{x}} </option>
			{% else %}
			<option value="{{company.structure}}" selected="selected"> {{company.structure}} </option>
			{% endif %}
		{% endfor %}
		</select>
		<p class="error" id="type-error">
		</p>
		<br>
		<input type="submit" value="Submit" class="btn btn-md">
	</form>
</div>

{% endblock %}