{% extends 'codedoor/base.html' %}
{% load static %}

{% block content %}
<html>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/profileform.css' %}">
<h1>
    Edit Profile: {{ profile.user.get_full_name }}
</h1>
<form class="profile-form" enctype="multipart/form-data" action="{% url 'codedoor:editprofile' pk=profile.id %}" method="POST"> {% csrf_token %}
    <div class="entry">
        <h4>First Name:</h4>
        <div>
            <input type="text" name="first_name" value="{{ profile.user.first_name }}" class="input-text input-md" required>
        </div>
    </div>
    <div class="entry">
        <h4>Last Name:</h4>
        <div>
            <input type="text" name="last_name" value="{{ profile.user.last_name }}" class="input-text input-md" required>
        </div>
    </div>
    <div class="entry">
        <h4>Profile Picture:<h4>
        <div>
            <input type="file" name="profile_pic" accept="image/*" class="input-file">
        </div>
    </div>
    <div class="entry">
        <h4>Graduation Year:</h4>
        <div>
            <input type="number" name="graduation_year" value="{{ profile.graduation_year }}" class="input-text input-xs" required>
        </div>
    </div>
    <div class="entry">
        <h4>Current Job:</h4>
        <div>
            <input type="text" name="current_job" value="{{ profile.current_job }}" class="input-text input-md">
        </div>
    </div>
    <div class="entry">
        <h4>LinkedIn:<h4>
        <div>
            <input type="text" name="linkedin" value="{{ profile.linkedin }}" class="input-text input-md">
        </div>
    </div>
    <div id="submit">
        <input type="submit" value="Save Changes" class="btn btn-lg">
    </div>
</form>
</html>
{% endblock content %}
