{% extends 'codedoor/base.html' %}
{% load static from staticfiles %}

{% block content %}

<head>
  <link rel="stylesheet" href="{% static 'css/application.css' %}">
  <link rel="stylesheet" href="{% static 'css/modal.css' %}">
</head>
<form action="{% url 'codedoor:edit_application' pk=pk %}" method="POST">
    {% csrf_token %}
    <div class="entry">
        <h4>Position:</h4>
        <input name="position" value="{{position}}" type="text" />
    </div>
    <div class="entry">
        <h4>Season:</h4>
        {% if season == "Fall" %}
        <select name="season" class="menu" required>
            <option value="Fall" selected="selected">Fall</option>
            <option value="Winter">Winter</option>
            <option value="Spring">Spring</option>
            <option value="Summer">Summer</option>
        </select>
        {% elif season == "Winter" %}
        <select name="season" class="menu" required>
            <option value="Fall">Fall</option>
            <option value="Winter" selected="selected">Winter</option>
            <option value="Spring">Spring</option>
            <option value="Summer">Summer</option>
        </select>
        {% elif season == "Spring" %}
        <select name="season" class="menu" required>
            <option value="Fall">Fall</option>
            <option value="Winter">Winter</option>
            <option value="Spring" selected="selected">Spring</option>
            <option value="Summer">Summer</option>
        </select>
        {% elif season == "Summer" %}
        <select name="season" class="menu" required>
            <option value="Fall">Fall</option>
            <option value="Winter">Winter</option>
            <option value="Spring">Spring</option>
            <option value="Summer" selected="selected">Summer</option>
        </select>
        {% endif %}
    </div>
    <div class="entry">
        <h4>Year:</h4>
        <input type="number" name="year" value="{{year}}" class="select-num" id="year" />
    </div>
    <div class="entry">
        <h4>Difficulty:</h4>
        <input type="number" step="0.1" name="difficulty" value="{{difficulty}}" class="select-num" id="difficulty" />
    </div>
    <div class="entry">
        <h4>Description:</h4>
        <textarea name="description" id="description">{{description}}</textarea><br>
    </div>
    <div class="entry">
        <h4>Received Offer:</h4>
        {% if received_offer %}
          <p><input type="radio" name="received_offer" value="Yes" class="received_offer" checked /> Yes</p>
          <p><input type="radio" name="received_offer" value="No" class="received_offer" /> No</p>
        {% else %}
          <p><input type="radio" name="received_offer" value="Yes" class="received_offer"> Yes</p>
          <p><input type="radio" name="received_offer" value="No" class="received_offer" checked> No</p>
        {% endif %}
    </div>
    <div class="entry">
        <h4>Offer details:</h4><br>
        <textarea name="offer_details" id="offer_details">{{offer_details}}</textarea>
    </div>
    <div class="entry">
        <button type="submit" class="big">Save Changes</button>
    </div>
</form>

{% endblock content %}
