{% extends 'codedoor/base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home1.css' %}">

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/basehomepage.css' %}">
  <link rel="stylesheet" href="{% static 'css/application.css' %}">
  <link rel="stylesheet" href="{% static 'css/modal.css' %}">
</head>
<style>
body {
    background-image: url("/static/images/Untitled3.jpg");
}

h1 {
    color: maroon;
    margin-left: 40px;

}

#recent-activity{
background-color: rgba(0, 0, 0, 0.7);
width:700px;
padding:5px;
}
</style>

<body>

  <div id="recent-activity" class="indent">
    <h3>Yo</h3>
      <p>Thank you for this entire semester! You have taught us so much and are always<br>
          patient whenever we are behind or make very very silly and brainless mistakes.<br>
      Because of you two, we learned how to work as a team and semi answer general<br>
          questions during interview to pretend we mildly understand what we are doing.<br>
          Oh, we also happend to discover slack overflow last week, so hopefully we will<br>
          go through that next time heh...<br><br><br>

      <p> love,<br> the newbie team</p>
      <br><p> P.S- I also used style tags to give Brian a heart attack </p>
  </div>

</body>
<script src="{% static 'js/createreview.js' %}"></script>
<script src="{% static 'js/company.js' %}"></script>
<script src="{% static 'js/application.js' %}"></script>
<script src="{% static 'js/home.js' %}"></script>

{% endblock %}
