{% extends 'codedoor/base.html' %}
{% load static %}
{% block content %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/basehomepage.css' %}">
  <link rel="stylesheet" href="{% static 'css/application.css' %}">
  <link rel="stylesheet" href="{% static 'css/modal.css' %}">
</head>
<body>
  <div id="home-search" class="indent">
    <h1 id="codor"> CodeDoor </h1>
    <p id="subtitle"> Find an interview, company, or work experience from a CodeBase member</p>
    <div id="searchbar">

      <form action="{% url 'codedoor:search' database='reviews' %}" method="GET">
       <input id="searchtype" name="query" type="text" placeholder='Try "Google"'>
        <button class="sub" id="search" type="submit">Search</button>
      </form>
    </div>
  </div><br>


  <div id="recent-activity" class="indent">
    <h3>Recent Activity</h3><br>
    <h2 class="inline-block" >Company Reviews&nbsp;&nbsp;</h2>
      <button class="inline-block small-teal" id="create-review-btn">Create Review</button>
    </a>&nbsp;
    <button class="inline-block small-teal" id="create-company-btn">Create Company</button>

</div>
  <hr id="break">
</br>

<div id="reviews">
    {% comment %}
      We add an invisible "dummy" review to the HTML to provide a template for review creation in clientside code.
    {% endcomment %}
    {% include "components/review.html" with review=reviews.0 dummy=True only %}
    {% for review in reviews %}
      {% include "components/review.html" with review=review only %}
      <br>
    {% endfor %}


    {% if num_reviews > 3 %}
    <a href="{% url 'codedoor:view_company_reviews' %}">Show More >>></a>
    {% endif %}

    <br>
  </div>
  <br>



  <div class="indent" >
    <h2 class="inline-block">Interviews&nbsp;&nbsp;</h2>
    <button id="create-application-btn" class="inline-block small-teal" onclick="displayApplicationForm()">Create New Application</button>
  </div>
  <hr id="break">

  <div id="application-list" class="indent">
    <div id="existing-applications">
      {% for a in applications %}
        {% include "components/application.html" with a=a only %}
        <br>
      {% endfor %}
      {% if num_apps > 3 %}
          <a href="{% url 'codedoor:list_all_applications' %}">Show More >>></a>
      {% endif %}
    </div>

    <!-- Source: Vitor Freitas -->
    {% if applications.has_other_pages %}
      <ul class="pagination">
        {% if applications.has_previous %}
          <li class="clickable"><a href="?page={{ applications.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li>&laquo;</li>
        {% endif %}
        {% for i in applications.paginator.page_range %}
          {% if applications.number == i %}
            <li class="active">{{ i }}</li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if applications.has_next %}
          <li><a href="?page={{ applications.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li>&raquo;</li>
        {% endif %}
      </ul>
    {% endif %}
    <br>
  </div>

{% include "components/review_modal.html" with id="review-modal" on_submit_list_id="reviews" only %}
{% include "components/application_modal.html" with id="application-modal" on_submit_list_id="application-list" only %}
{% include "components/company_modal.html" with id="company-modal" only %}

</body>
<script src="{% static 'js/home.js' %}"></script>

{% endblock %}
