{% extends 'codedoor/base.html' %}
{% load static %}
{% block content %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/basecompany2.css' %}">
  <link rel="stylesheet" href="{% static 'css/modal.css' %}">
</head>

<body>
  <div class="companyportion">
    <div class="company-logo">

    <img src="{{review.company.logo}}" alt="Company logo" width="150" height="150">

    <div class='sub1'><h1>{{review.company.name}}</h1><br>
      <p>{{review.company.industry }}, {{review.company.structure}}</p><br>
      <img src="{% static 'images/linklogo.png' %}" class='logo' width="20px" height="20px" /> <span>{{review.company.website}}</span>
      <img src="{% static 'images/locationlogo.png' %}" class='logo' width="20px" height="20px" /> <span>Mountain View</span>
    </div>

    </div>
  </div>

  <hr id="break">
  <br>

<div id="bottom-half">
  <div style="float:right;position:absolute;right:10%;">
    {% if review.reviewer.user == request.user %}
      <a class="sub" href="{% url 'codedoor:editreview' pk=review.pk %}">Edit Review</a>
    {% else %}
      <p></p>
    {% endif %}
  </div>
  <div id="reviews">
    <table>
      <tr>
        {% if review.company.logo != null %}
          <td rowspan="3" width="7%">
            <img src="{{review.company.logo}}" alt="Company logo" width="100" height="100">
          </td>
        {% else %}
          <td rowspan="3" width="7%">
            <img src="/static/images/temp.png" alt="Company logo" width="100" height="100">
          </td>
        {% endif %}
        <td width="93%">
          <a href="{% url 'codedoor:viewcompany' pk=review.company.pk database='reviews'%}">
            <h2 class="link-text">{{ review.company }}</h2>
          </a>
          <span class="applicant-name">
              <a href="{% url 'codedoor:viewprofile' pk=review.reviewer.id %}">{{ review.reviewer }}</a>
          </span>
        </td>
      </tr>
      <tr>
        <td>
          {% if review.title != null %}
            <a class="button" id="reviewtitle" href="{% url 'codedoor:viewreview' pk=review.pk  %}">{{review.title}}</a>
          {% else %}
            <p></p>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>
          <p><span class="info colorful-boxy">
            {% if review.recommend %}
              <span>
                <svg width="15" height="15">
                <rect x="0" y="0" rx="3" ry="3" width="15" height="15"
                style="fill:#01959b" />
                </svg> Recommends
              </span>
            {% else %}
              <span>
                <svg width="15" height="15">
                <rect x="0" y="0" rx="3" ry="3" width="15" height="15"
                style="fill:#ff4d4d" />
                </svg> Doesn't Recommend
              </span>
            {% endif %}
          </span>
          <span class="info colorful-boxy">
            {% if review.rating < 1 %}
              <span>
                <img src="/static/images/whitestar.png" height="20" width="20">
                <img src="/static/images/whitestar.png" height="20" width="20">
                <img src="/static/images/whitestar.png" height="20" width="20">
                <img src="/static/images/whitestar.png" height="20" width="20">
                <img src="/static/images/whitestar.png" height="20" width="20">
              </span>
            {% elif review.rating < 2 %}
              <span>
                <img src="/static/images/blackstar.png" height="20" width="20">
                <img src="/static/images/whitestar.png" height="20" width="20">
                <img src="/static/images/whitestar.png" height="20" width="20">
                <img src="/static/images/whitestar.png" height="20" width="20">
                <img src="/static/images/whitestar.png" height="20" width="20">
              </span>
            {% elif review.rating < 3 %}
              <span>
                <img src="/static/images/blackstar.png" height="20" width="20">
                <img src="/static/images/blackstar.png" height="20" width="20">
                <img src="/static/images/whitestar.png" height="20" width="20">
                <img src="/static/images/whitestar.png" height="20" width="20">
                <img src="/static/images/whitestar.png" height="20" width="20">
              </span>
            {% elif review.rating < 4 %}
              <span>
                <img src="/static/images/blackstar.png" height="20" width="20">
                <img src="/static/images/blackstar.png" height="20" width="20">
                <img src="/static/images/blackstar.png" height="20" width="20">
                <img src="/static/images/whitestar.png" height="20" width="20">
                <img src="/static/images/whitestar.png" height="20" width="20">
              </span>
            {% elif review.rating < 5 %}
              <span>
                <img src="/static/images/blackstar.png" height="20" width="20">
                <img src="/static/images/blackstar.png" height="20" width="20">
                <img src="/static/images/blackstar.png" height="20" width="20">
                <img src="/static/images/blackstar.png" height="20" width="20">
                <img src="/static/images/whitestar.png" height="20" width="20">
              </span>
            {% else %}
              <span>
                <img src="/static/images/blackstar.png" height="20" width="20">
                <img src="/static/images/blackstar.png" height="20" width="20">
                <img src="/static/images/blackstar.png" height="20" width="20">
                <img src="/static/images/blackstar.png" height="20" width="20">
                <img src="/static/images/blackstar.png" height="20" width="20">
              </span>
            {% endif %}
          </span></p>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div>
            <h4>Description:</h4>
            <p class="description_small_text" style="width:80%;">{{review.review}}</p>
          </div>
        </td>
      </tr>
    </table>
    <br>
  </div>
  <br><br>
  <h4 class="commentbase"> Comments: </h4>
  <textarea id="addbody" name="body" placeholder="Review here"></textarea>
  <p id="display-error"></p>
  <input id ="reviewpk" type="hidden" name="review" value="{{ review.pk }}">

  <button class="sub" id="submit">Submit</button>
  <button class="sub" id="cancel">Cancel</button>

  <div id ="comment"></div>
  {% for comment in comments %}
    <div id="comment">
      <div id="profile-img" style="background-image: url('{{ comment.commenter.profile_pic }}');">
      </div>
      <p id="commenter"> {{comment.commenter}} </p>
      <p class="commentcontents"> {{comment.content}} </p>
      <br>
    </div>
  {% endfor %}


</div>
</body>
<script src="{% static 'js/viewreview.js' %}"></script>
{% endblock %}