{% extends 'codedoor/base.html' %}
{% load static %}
{% block content %}
<div class="profile-header">
  <div>
    <div class="profile-header-pic" style="background-image: url('{{ profile.profile_pic }}');"></div>
  </div>
  <div class="profile-header-body">
    <h1 class="profile-header-body-name">
      {{ profile.user.get_full_name }}
    </h1>
    <p class="profile-header-body-job">
      {{ profile.current_job }}
    </p>
    <p class="profile-header-body-year">
      Class of {{ profile.graduation_year }}
    </p>
    <div id="profile-header-body-links">
      {% if profile.linkedin %}
        <a class="profile-header-body-links-li" href="{{ profile.linkedin }}">
          <img class="profile-header-body-links-li-icon" src="{% static 'images/linkedinlogo.png' %}">
          <span>{{ profile.linkedin }}</span>
        </a>
      {% endif %}
        <a class="profile-header-body-links-li" href="mailto:{{ profile.user.email }}">
          <img class="profile-header-body-links-li-icon" src="{% static 'images/emailicon.png' %}">
          <span>{{ profile.user.email }}</span>
        </a>
    </div>
    {% if request.user.profile == profile %}
      <a href="/codedoor/editprofile/{{ profile.id }}">
        <p class="btn btn-sm edit-profile">Edit Profile</p>
      </a>
    {% endif %}
  </div>
</div>
{% endblock content %}
