{% extends 'codedoor/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/basereview1.css' %}">

    <div class="companyportion">
      <img src="{% static 'images/temp.png' %}" id='logo' width="150px" height="150px" />

      <div class='sub'><h1>{{review.company.name}}</h1><br>
        <img src="{% static 'images/linklogo.png' %}" class='logo' width="20px" height="20px" /> <span>{{review.company.website}}</span>
        <img src="{% static 'images/locationlogo.png' %}" class='logo' width="20px" height="20px" /> <span>Mountain View</span>
      </div>
    </div>
<hr id= "break">

  <div class="reviewportion">
        <h2>"{{review.title}}"<span>- {{review.reviewer.name}}</span></h2>

      <br>
    <p>Rating: {{review.rating}}</p><br>
    <p>Recommend: {{review.recommend}}</p><br>
    <p> Review: </p>
    <p id="tabi">{{review.review}}</p><br>
    <br>
    <a id="sub" href="{% url 'codedoor:editreview' pk=review.pk %}">Edit</a>
  </div>
{% endblock %}
