{% extends 'codedoor/base.html' %}
{% load static from staticfiles %}
{% block content %}
<body>
  {% include "components/company_header.html" with company=a.company only %}

  <textarea id="pk" style="display: none;">{{ a.pk }}</textarea>
  <textarea id="logo" style="display: none;">{{ a.company.logo }}</textarea>
  <textarea id="company" style="display: none;">{{ a.company }}</textarea>
  <textarea id="profile" style="display: none;">{{ a.profile }}</textarea>
  <div class="entry">
    {% include "components/application.html" with a=a only %}

    {% if request.user.profile == profile %}
      <button id="edit-application-btn" class="btn btn-sm">Edit Application</button>
    {% endif %}

    {% include "components/edit_application_modal.html" with id="application-modal" a=a only %}

    <h2> Comments </h2><br>
    <textarea id="addbody" name="body" placeholder="Review here" class="input-text-area"></textarea>
    <p id="display-error"></p>
    <input id ="applicationpk" type="hidden" name="application" value="{{ a.pk }}">
    <button class="btn btn-sm" id="submit">Submit</button>
    <button class="btn btn-sm" id="cancel">Cancel</button>
    {% if comments %}
      {% for comment in comments %}
          <div id="comment">
            <div id="profile-img" style="background-image: url('{{ comment.commenter.profile_pic }}');">
            </div>
            <p id="commenter"> {{comment.commenter}} </p>
            <p style="padding-left:40px;"> {{comment.content}} </p><br>
          </div>
      {% endfor %}
    {% else %}
     <div id ="comment"></div>
      <div id ="init"><p>No comments yet!</p></div>
    {% endif %}


  </div>

</body>
    <script src="{% static 'js/application.js' %}"></script>
    <script src="{% static 'js/showcommentsap.js' %}"></script>
    {% if request.user.profile == profile %}
    <script>
        (function() {
            // Get the buttons that open the edit application modal
            var editApplicationBtn = document.getElementById("edit-application-btn");
            editApplicationBtn.addEventListener("click", function() {
                document.getElementById("application-modal").style.display = "block";
            });
        })();
    </script>
    {% endif %}
{% endblock %}
