{% extends 'codedoor/base.html' %}
{% load static %}
{% block content %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/basecompany2.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/applications.css' %}">
  <script src="{% static 'js/viewcompany_tabs.js' %}"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>


  <div class="companyportion">
    <div id="blackout">

    </div>
    <div class="company-logo">

    <img src="{{review.company.logo}}" alt="Company logo" width="150" height="150">

    <div class='sub1'><h1>{{review.company.name}}</h1><br>
      <p>{{review.company.industry }}, {{review.company.structure}}</p><br>
      <img src="{% static 'images/linklogo.png' %}" class='logo' width="20px" height="20px" /> <span>{{review.company.website}}</span>
      <img src="{% static 'images/locationlogo.png' %}" class='logo' width="20px" height="20px" /> <span>Mountain View</span>
    </div>

    </div>
  </div>

  <hr id="break">
  <br>

<div id="bottom-half">
  <div style="float:right;position:absolute;right:10%;">
    {% if review.reviewer.user == request.user %}
      <a class="sub" href="{% url 'codedoor:editreview' pk=review.pk %}">Edit Review</a>
    {% else %}
      <p></p>
    {% endif %}
    <a class="sub" id="addcomment" href="#">Add Comment</a>
  </div>
  <div id="reviews">
    <table>
      <tr>
        {% if review.company.logo != null %}
          <td rowspan="3" width="7%">
            <img src="{{review.company.logo}}" alt="Company logo" width="100" height="100">
          </td>
        {% else %}
          <td rowspan="3" width="7%">
            <img src="/static/images/temp.png" alt="Company logo" width="100" height="100">
          </td>
        {% endif %}
        <td width="93%">
          <a href="{% url 'codedoor:viewcompany' pk=review.company.pk %}">
            <h2 class="link-text">{{ review.company }}</h2>
          </a>
          <span class="applicant-name">{{ review.reviewer }}</span>
        </td>
      </tr>
      <tr>
        <td>
          {% if review.title != null %}
            <a class="button" id="reviewtitle" href="{% url 'codedoor:viewreview' pk=review.pk  %}">{{review.title}}</a>
          {% else %}
            <p></p>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>
          <p><span class="info colorful-boxy">
            {% if review.recommend %}
              <span>
                <svg width="15" height="15">
                <rect x="0" y="0" rx="3" ry="3" width="15" height="15"
                style="fill:#01959b" />
                </svg> Recommends
              </span>
            {% else %}
              <span>
                <svg width="15" height="15">
                <rect x="0" y="0" rx="3" ry="3" width="15" height="15"
                style="fill:#ff4d4d" />
                </svg> Doesn't Recommend
              </span>
            {% endif %}
          </span>
          <span class="info colorful-boxy">
            {% if review.rating < 1 %}
              <span>
                <img src="/static/images/whitestar.png" height="20" width="20">
                <img src="/static/images/whitestar.png" height="20" width="20">
                <img src="/static/images/whitestar.png" height="20" width="20">
                <img src="/static/images/whitestar.png" height="20" width="20">
                <img src="/static/images/whitestar.png" height="20" width="20">
              </span>
            {% elif review.rating < 2 %}
              <span>
                <img src="/static/images/blackstar.png" height="20" width="20">
                <img src="/static/images/whitestar.png" height="20" width="20">
                <img src="/static/images/whitestar.png" height="20" width="20">
                <img src="/static/images/whitestar.png" height="20" width="20">
                <img src="/static/images/whitestar.png" height="20" width="20">
              </span>
            {% elif review.rating < 3 %}
              <span>
                <img src="/static/images/blackstar.png" height="20" width="20">
                <img src="/static/images/blackstar.png" height="20" width="20">
                <img src="/static/images/whitestar.png" height="20" width="20">
                <img src="/static/images/whitestar.png" height="20" width="20">
                <img src="/static/images/whitestar.png" height="20" width="20">
              </span>
            {% elif review.rating < 4 %}
              <span>
                <img src="/static/images/blackstar.png" height="20" width="20">
                <img src="/static/images/blackstar.png" height="20" width="20">
                <img src="/static/images/blackstar.png" height="20" width="20">
                <img src="/static/images/whitestar.png" height="20" width="20">
                <img src="/static/images/whitestar.png" height="20" width="20">
              </span>
            {% elif review.rating < 5 %}
              <span>
                <img src="/static/images/blackstar.png" height="20" width="20">
                <img src="/static/images/blackstar.png" height="20" width="20">
                <img src="/static/images/blackstar.png" height="20" width="20">
                <img src="/static/images/blackstar.png" height="20" width="20">
                <img src="/static/images/whitestar.png" height="20" width="20">
              </span>
            {% else %}
              <span>
                <img src="/static/images/blackstar.png" height="20" width="20">
                <img src="/static/images/blackstar.png" height="20" width="20">
                <img src="/static/images/blackstar.png" height="20" width="20">
                <img src="/static/images/blackstar.png" height="20" width="20">
                <img src="/static/images/blackstar.png" height="20" width="20">
              </span>
            {% endif %}
          </span></p>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div>
            <h4>Description:</h4>
            <p class="description_small_text" style="width:80%;">{{review.review}}</p>
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td id="comments">
          <br><p class="commentbase"> Comments: </p>
          <div id ="comment">
          </div>
          {% for comment in comments %}
            <div id="comment">
              <div id="profile-img" style="background-image: url('{{ comment.commenter.profile_pic }}');">
              </div>
              <p id="commenter"> {{comment.commenter}} </p>
              <p class="commentcontents"> {{comment.content}} </p>
              <br>
            </div>
          {% endfor %}
        </td>
      </tr>
    </table>
    <br>
  </div>




</div>
<div>
<div id="commentsection">
  <h2>Add comment</h2><br>

  Title <input id="addtitle" type="text" name="title"> <br><br>
  Comment <br><textarea id="addbody" name="body" placeholder="Review here"></textarea><br><br>
  <input id ="reviewpk" type="hidden" name="review" value="{{ review.pk }}"><br><br>

  <button class="sub" id="submit">Submit</button>
  <button class="sub" id="cancel">Cancel</button>

</div>
</div>



<script type="text/javascript">
document.getElementById("blackout").style.display = "none";

function myFunction() {
    alert("Hello! I am an alert box!");
}

function getCookie(name) {
  var regexp = new RegExp("(?:^" + name + "|;\s*"+ name + ")=(.*?)(?:;|$)", "g");
  var result = regexp.exec(document.cookie);
  return (result === null) ? null : result[1];
}

function displayCommentSection() {
    var x = document.getElementById("commentsection");
    if (x.style.display != "block") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}

$( function() {

    $( "#commentsection" ).dialog({

      autoOpen: false,
      show: {
        effect: "fade",
        duration: 300
      },
      hide: {

        effect: "close",
        duration: 1000

      }
    });

    $(".ui-dialog-titlebar").hide();
    $( "#commentsection" ).dialog({ closeOnEscape: false });

    $( "#addcomment" ).on( "click", function() {
    document.getElementById("blackout").style.display = "block";
      $( "#commentsection" ).dialog( "open" );

    });
  } );




console.log("Do somethings");
    document.getElementById("cancel").addEventListener("click", function() {

document.getElementById("blackout").style.display = "none";

$( "#commentsection" ).dialog( "close" );
});
    document.getElementById("submit").addEventListener("click", function() {
        console.log("In the addEventListener");
        document.getElementById("blackout").style.display = "none";

        var title = document.getElementById("addtitle").value;
        var content = document.getElementById("addbody").value;

        var commentData = new FormData();
        commentData.append("title", title);
        commentData.append("content", content);
        var review = document.getElementById("reviewpk").value;
        commentData.append("review", review )
        var headers = new Headers();

        var csrftoken = getCookie("csrftoken")
        headers.append('X-CSRFToken', csrftoken);

        fetch("/codedoor/addrc/", {
            method: "POST",
            body: commentData,
            headers: headers,
            credentials: "include"
        }).then(function(response) {
            return response.json();
        }).then(function(json) {
            if (json.success) {
                document.getElementById("comment").innerHTML =


                "<div id=\"comment\"><div id=\"profile-img\" style=\"background-image: url(" +json.profile_url+ ");\">"
                  +"</div><p id='commenter'>"+json.name+"</p>"
                  +"<p class='commentcontents'>"+json.content+"</p><br></div>"
                   + document.getElementById("comment").innerHTML;
            }
        })

      $( "#commentsection" ).dialog( "close" );
    }



  );
</script>

</body>
{% endblock %}
