{% extends 'codedoor/base.html' %}
{% load static %}
{% block content %}
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/viewprofile.css' %}">
</head>
<body>
  <div class="profile">
    <div>
      <div id="profile-pic" style="background-image: url('{{ profile.profile_pic }}');"></div>
      {% if request.user.profile == profile %}
        <a href="/codedoor/editprofile/{{ profile.id }}">
          <p id="edit-profile">(edit profile)</p>
        </a>
      {% endif %}
    </div>
    <div class="profile-information">
      <div class="basic-info">
        <p id="name">
          {{ profile.user.get_full_name }}
        </p>
        <p id="job">
          {{ profile.current_job }}
        </p>
        <p id="classof">
          Class of {{ profile.graduation_year }}
        </p>
      </div>
      <div id="profile-links">
        <!--{{ profile.website }}-->
        <!--<p>-->
            <!--<a href = "https://lausophia.github.io">-->
                <!--<img src= {% static 'images/linkicon.png' %} width="30px" height="30px">-->
                <!--lausophia.github.io-->
            <!--</a>-->
        <!--</p>-->
        {% if profile.linkedin %}
          <div class="link">
            <a href={{ profile.linkedin }}>
              <img class="icon" src={% static 'images/linkedinlogo.png' %}>
              <span>{{ profile.linkedin }}</span>
            </a>
          </div>
        {% endif %}
        <div class="link">
          <a href="mailto:{{ profile.user.email }}">
            <img class="icon" src={% static 'images/emailicon.png' %}>
            <span>{{ profile.user.email }}</span>
          </a>
        </div>
        <!--<a href={{ profile.resume }}>-->
        <!--<p>-->
            <!--<img src={% static 'images/cvicon.png' %} width="30px" height="30px">-->
            <!--resume.pdf &lt;!&ndash;</a>&ndash;&gt;-->
        <!--</p>-->
      </div>
    </div>
  </div>
</body>
</html>
{% endblock content %}
