{% extends 'codedoor/base.html' %}
{% load static %}
{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/basecompany1.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/application.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}">
</head>
<body>
  <div class="companyportion">
    <div class="company-logo">
      {% if company.logo %}
        <img src="{{company.logo}}" alt="Company logo" width="150" height="150">
      {% else %}
        <img src="/static/images/temp.png" alt="Company logo" width="150" height="150">
      {% endif %}

      <div class='sub1'><h1>{{company.name}}</h1><br>
        <p>{{ company.industry }}, {{company.structure}}</p><br>
        <img src="{% static 'images/linklogo.png' %}" class='logo' width="20px" height="20px" /> <span>{{company.website}}</span>
        <img src="{% static 'images/locationlogo.png' %}" class='logo' width="20px" height="20px" /> <span>Mountain View</span>
      </div>

    </div>
  </div>

  <hr id="break">
  <div id="nav">
    <a href="{% url 'codedoor:viewcompany' pk=company.pk database='reviews' %}" id="reviews_tab" class="active_item nav_items">Reviews</a>
    <a href="{% url 'codedoor:viewcompany' pk=company.pk database='applications' %}" id="applications_tab" class="nav_items">Applications</a>
    <span style="float:right;position:absolute;right:10%;">
      <a class="sub" id="createreviewbutton">Add Review</a>
      <a class="sub" href="{% url 'codedoor:editcompany' pk=company.pk %}">Edit Company Info</a>
      <a id="create-application-btn" class="sub">Add Application</a>
    </span>
  </div>


{% include "components/review_modal.html" with id="review-modal" on_submit_list_id="reviews" company=company only %}
{% include "components/application_modal.html" with id="application-modal" on_submit_list_id="application-list" company=company only %}


<div id="bottom-half" class="indent">
  {% block tabcontent %}
  {% endblock %}
</div>
</body>
{% endblock %}
