{% extends 'codedoor/base.html' %}
{% load static from staticfiles %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/application.css' %}">
</head>
<body>
  <div class="entry">
    <table>
      <tr>
        <td rowspan="3" width="7%"><img src="/static/images/airbnb.gif" alt="Company logo"></td>
        <td width="93%">
          <h2 class="company-name">Airbnb</h2>
          <span class="applicant-name">Anonymous</span>
        </td>
      </tr>
      <tr>
        <td>
          <p><span class="info job-position">{{a.position}}</span> 
          <span class="info job-season">{{a.season}} {{a.year}}-San Francisco, CA</span></p>
        </td>
      </tr>
      <tr>
        <td>
          <p><span class="info colorful-boxy">
            {% if a.received_offer %}
              <svg width="15" height="15">
                <rect width="15" height="15" class="teal-rect" />
                Sorry, your browser does not support inline SVG.
              </svg>&nbsp;&nbsp;Received Offer
            {% else %}
              <svg width="15" height="15">
                <rect width="15" height="15" class="red-rect"/>
                Sorry, your browser does not support inline SVG.
              </svg>&nbsp;&nbsp;No Offer
            {% endif %}
          </span>
          <span class="info colorful-boxy">
            {% if a.difficult > 7 %}
              <svg width="15" height="15">
                <rect width="15" height="15" class="red-rect" />
                Sorry, your browser does not support inline SVG.
              </svg>&nbsp;&nbsp;Difficult Interview: {{a.difficult}}/10
            {% elif a.difficult < 4%}
              <svg width="15" height="15">
                <rect width="15" height="15" class="teal-rect" />
                Sorry, your browser does not support inline SVG.
              </svg>&nbsp;&nbsp;Easy Interview: {{a.difficult}}/10
            {% else %}
              <svg width="15" height="15">
                <rect width="15" height="15" class="orange-rect" />
                Sorry, your browser does not support inline SVG.
              </svg>&nbsp;&nbsp;Average Interview: {{a.difficult}}/10
            {% endif %}
          </span></p>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <h4>Description:</h4>
          <p>{{a.description}}</p>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <h4>Offer details:</h4>
          <p>{{a.offer_details}}</p>
        </td>
      </tr>
    </table>
    <br><br>
        <a class="sub" href="{% url 'codedoor:edit_application' pk=a.pk %}">Edit Application</a>
  </div>

</body>
{% endblock %}