{% extends 'codedoor/view_company.html' %}
{% load static %}
{% block tabcontent %}
<div id="reviews-dropdown" class="dropdown">
    <form action="{% url 'codedoor:viewcompany' pk=company.pk database='reviews'%}" method="GET">
        <span class="filter">Rating:
        <select name = "rating">
          <option value = None>All</option>
          <option value = 1>1 star</option>
          <option value = 2>2 stars</option>
          <option value = 3>3 stars</option>
          <option value = 4>4 stars</option>
          <option value = 5>5 stars</option>
        </select>
        </span>



        <span class="filter">Recommend:
        <select name = "recommend">
          <option value = None>All</option>
          <option value = True>Yes</option>
          <option value = False>No</option>
        </select>
        </span>

      <button class="sub" id="search" type="submit">Filter</button>
    </form>
</div>

<div id="reviews">
{% comment %}
  We add an invisible "dummy" review to the HTML to provide a template for review creation in clientside code.
{% endcomment %}
{% include "components/review.html" with review=reviews.0 dummy=True only %}
{% for review in reviews %}
  {% include "components/review.html" with review=review display_profile_pic=True only %}
<br>
{% endfor %}

<!-- Source: Vitor Freitas -->
{% if reviews.has_other_pages %}
  <ul class="pagination">
    {% if reviews.has_previous %}
      <li class="clickable"><a href="?page={{ reviews.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li>&laquo;</li>
    {% endif %}
    {% for i in reviews.paginator.page_range %}
      {% if reviews.number == i %}
        <li class="active">{{ i }}</li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if reviews.has_next %}
      <li><a href="?page={{ reviews.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li>&raquo;</li>
    {% endif %}
  </ul>
{% endif %}
</div>
{% endblock %}