{% extends 'codedoor/base.html' %}
{% load static %}
{% block content %}
<div class="card-list-container">
  <div class="card-list-header">
      <h2>Company Reviews</h2>
      <button class="btn btn-sm" id="create-review-btn">Create Review</button>
      <button class="btn btn-sm" id="create-company-btn">Create Company</button>
  </div>

  {% include "components/company_modal.html" with id="company-modal" only %}
  {% include "components/create_review_modal.html" with id="review-modal" on_submit_list_id="reviews" only %}

  <div class="card-list">
      {% for review in reviews %}
        {% include "components/review.html" with review=review only %}
      {% endfor %}
  </div>
  <!-- Source: Vitor Freitas -->
  {% if reviews.has_other_pages %}
    <ul class="pagination">
      {% if reviews.has_previous %}
        <li class="clickable"><a href="?page={{ reviews.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li>&laquo;</li>
      {% endif %}
      {% for i in reviews.paginator.page_range %}
        {% if reviews.number == i %}
          <li class="active">{{ i }}</li>
        {% else %}
          <a href="?page={{ i }}"><li>{{ i }}</li></a>
        {% endif %}
      {% endfor %}
      {% if reviews.has_next %}
        <li><a href="?page={{ reviews.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li>&raquo;</li>
      {% endif %}
    </ul>
  {% endif %}
</div>
<script>
// When the user clicks anywhere outside of the modal, close it
window.addEventListener("click", function(event) {
    var reviewModal = document.getElementById('reviewmodal');
    var companyModal = document.getElementById('companyModal');
    if (event.target == reviewModal) {
        reviewModal.style.display = "none";
    }
    if (event.target == companyModal) {
        companyModal.style.display = "none";
    }
});

(function() {
    // Get the buttons that open the modals
    var createReviewBtn = document.getElementById("create-review-btn");
    var createCompanyBtn = document.getElementById("create-company-btn");
    createReviewBtn.addEventListener("click", function() {
        document.getElementById("review-modal").style.display = "block";
    });
    createCompanyBtn.addEventListener("click", function() {
        document.getElementById("company-modal").style.display = "block";
    });
})();
</script>
{% endblock %}
