{% extends 'codedoor/base.html' %}
{% load static %}
{% load codedoor_extras %}
{% block content %}

<head>
  <link rel="stylesheet" href="{% static 'css/modal.css' %}">
</head>

<body>
  {% include "components/company_header.html" with company=review.company only %}

<div id="bottom-half">
  <div style="float:right;position:absolute;right:10%;">
    {% if review.reviewer.user == request.user %}
      <div class="btn btn-sm" id="edit-review-btn">Edit Review</div>
    {% endif %}
  </div>
  {% include "components/review.html" with review=review only %}

  {% include "components/edit_review_modal.html" with id="review-modal" review=review only %}

  <h4>Comments</h4>
  <textarea id="addbody" name="body" placeholder="Review here" class="input-text-area"></textarea>
  <p id="display-error"></p>
  <input id="reviewpk" type="hidden" name="review" value="{{ review.pk }}">

  <button class="btn btn-sm" id="submit">Submit</button>
  <button class="btn btn-sm" id="cancel">Cancel</button>

  <div id="comment"></div>
  {% for comment in comments %}
    <div id="comment">
      <div id="profile-img" style="background-image: url('{{ comment.commenter.profile_pic }}');">
      </div>
      <p id="commenter"> {{comment.commenter}} </p>
      <p class="commentcontents"> {{comment.content}} </p>
      <br>
    </div>
  {% endfor %}


</div>
</body>
<script src="{% static 'js/viewreview.js' %}"></script>
{% endblock %}
