{% extends 'codedoor/base.html' %}
{% load static from staticfiles %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/application.css' %}">
    <link rel="stylesheet" href="{% static 'css/question.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
</head>
<body>
  <textarea id="pk" style="display: none;">{{ a.pk }}</textarea>
  <textarea id="logo" style="display: none;">{{ a.company.logo }}</textarea>
  <textarea id="company" style="display: none;">{{ a.company }}</textarea>
  <textarea id="profile" style="display: none;">{{ a.profile }}</textarea>
  <div class="entry">
      <div id="blackout">
        <div id="commentsection">
            <h2>Add comment</h2><br>

            Title <input id="addtitle" type="text" name="title"> <br><br>
            Comment <br><textarea id="addbody" name="body" placeholder="Review here"></textarea><br><br>
            <input id ="applicationpk" type="hidden" name="application" value="{{ a.pk }}"><br><br>

              <button class="sub" id="submit">Submit</button>
              <button class="sub" id="cancel">Cancel</button>

        </div>
    </div>

    <table id="app">
      <tr>
        {% if a.company.logo != null %}
          <td rowspan="3" width="7%">
            <img src="{{ a.company.logo }}" alt="Company logo" width="100" height="100">
          </td>
        {% else %}
          <td rowspan="3" width="7%">
            <img src="/static/images/temp.png" alt="Company logo" width="100" height="100">
          </td>
        {% endif %}
        <td width="93%">
          <a href="{% url 'codedoor:viewcompany' pk=a.company.pk database='reviews' %}">
            <h2 class="link-text">{{ a.company }}</h2>
          </a>
          <span class="applicant-name">{{ a.profile }}</span>
        </td>
      </tr>
      <tr>
        <td>
          <p><span class="info job-position">{{a.position}}</span>
          <span class="info job-season">{{a.season}} {{a.year}}-San Francisco, CA</span></p>
        </td>
      </tr>
      <tr>
        <td>
          <p><span class="info colorful-boxy">
            {% if a.received_offer %}
              <span>
                <svg width="15" height="15">
                <rect x="0" y="0" rx="3" ry="3" width="15" height="15"
                style="fill:#01959b" />
                </svg> Received Offer
              </span>
            {% else %}
              <span>
                <svg width="15" height="15">
                <rect x="0" y="0" rx="3" ry="3" width="15" height="15"
                style="fill:#ff4d4d" />
                </svg> No Offer
              </span>
            {% endif %}
          </span>
          <span class="info colorful-boxy">
            {% if a.difficult > 7 %}
              <span>
                <svg width="15" height="15">
                <rect x="0" y="0" rx="3" ry="3" width="15" height="15"
                style="fill:#ff4d4d" />
                </svg>&nbsp;&nbsp;Difficult Interview: {{a.difficult}}/10
              </span>
            {% elif a.difficult < 4 %}
              <span>
                <svg width="15" height="15">
                <rect x="0" y="0" rx="3" ry="3" width="15" height="15"
                style="fill:#01959b" />
                </svg>&nbsp;&nbsp;Easy Interview: {{a.difficult}}/10
              </span>
            {% else %}
              <span>
                <svg width="15" height="15">
                <rect x="0" y="0" rx="3" ry="3" width="15" height="15"
                style="fill:#FF9B71;" />
                </svg>&nbsp;&nbsp;Average Interview: {{a.difficult}}/10
              </span>
            {% endif %}
          </span></p>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <h4>Description:</h4>
          <p>{{a.description}}</p>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <h4>Offer details:</h4>
          <p>{{a.offer_details}}</p>
        </td>
      </tr>
    </table>
      <br>
      <a class="sub" id="addcomment" href="#">Add Comment</a>

    <br><br>
        {% if request.user.profile == profile %}
          <button id="qBtn" class="sub">Create Question</button>
          <button id="aBtn" class="sub">Edit Application</button>
        {% endif %}
    <br><br>




    <div id="myModal2" class="modal">
      <div class="modal-content">
        <span id="closeModal2" class="close">&times;</span>
        <div class="entry">
          <h4>Position:</h4><br>
          <input name="position" value="{{a.position}}" class="text" id="position"></input><br><br>
        </div>
        <div class="entry">
            <h4>Season:</h4><br>
            {% if a.season == "Fall" %}
            <select name="season" class="menu" required>
                <option value="Fall" selected="selected">Fall</option>
                <option value="Winter">Winter</option>
                <option value="Spring">Spring</option>
                <option value="Summer">Summer</option>
            </select>
            {% elif a.season == "Winter" %}
            <select name="season" class="menu" required>
                <option value="Fall">Fall</option>
                <option value="Winter" selected="selected">Winter</option>
                <option value="Spring">Spring</option>
                <option value="Summer">Summer</option>
            </select>
            {% elif a.season == "Spring" %}
            <select name="season" class="menu" required>
                <option value="Fall">Fall</option>
                <option value="Winter">Winter</option>
                <option value="Spring" selected="selected">Spring</option>
                <option value="Summer">Summer</option>
            </select>
            {% elif a.season == "Summer" %}
            <select name="season" class="menu" required>
                <option value="Fall">Fall</option>
                <option value="Winter">Winter</option>
                <option value="Spring">Spring</option>
                <option value="Summer" selected="selected">Summer</option>
            </select>
            {% endif %}
        </div>
        <div class="entry">
            <h4>Year:</h4><br>
            <input type="number" name="year" value="{{a.year}}" class="select-num" id="year"><br><br>
        </div>
        <div class="entry">
            <h4>Difficulty:</h4><br>
            <input type = "number" step="0.1" name="difficulty" value="{{ a.difficult }}" class="select-num" id="difficulty"></input><br><br>
        </div>
        <div class="entry">
            <h4>Description:</h4><br>
            <textarea id="description">{{ a.description }}</textarea><br>
        </div>
        <div class="entry">
            <h4>Received Offer:</h4><br>
            {% if a.received_offer %}
              <p><input id="received_offer" type="radio" name="received_offer" value="Yes" checked> Yes</p><br>
              <p><input type="radio" name="received_offer" value="No"> No</p><br><br>
            {% else %}
              <p><input id="received_offer" class="received_offer" type="radio" name="received_offer" value="Yes"> Yes</p><br>
              <p><input class="received_offer" type="radio" name="received_offer" value="No" checked> No</p><br><br>
            {% endif %}
        </div>
        <div class="entry">
            <h4>Offer details:</h4><br>
            <textarea id="offer_details">{{ a.offer_details }}</textarea><br><br>
        </div>
        <div class="entry">
              <button id="submit_button_edit" type="submit" class="big" onclick="displayEditApplicationForm()">Submit</button>
        </div>
      </div>
    </div>





    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close" id="closeModal1">&times;</span>
        <div class="entry">
            <h4>Question:</h4><br>
            <textarea id="question" name="question" placeholder="Question here"></textarea><br>
        </div>
        <div class="entry">
            <h4>Applicant Answer:</h4><br>
            <textarea id="applicant_answer" name="applicant answer" placeholder="Your answer"></textarea><br>
        </div>
        <div class="entry">
            <h4>Company Answer:</h4><br>
            <textarea id="company_answer" name="company answer" placeholder="Company answer"></textarea><br><br>
        </div>
        <div class="entry">
            <button id="submit_button" type="submit" class="big" onclick="displayQuestionForm()">Submit</button>
        </div>
      </div>
  </div>
    <br><br><br>
    <h2>Questions</h2>
    {% if questions %}
        <div id="questList">
        {% for q in questions %}
            <div class="post">
                <h4 class="blue-text">Question</h4>
                <p>{{ q.question }}</p>
                <h4 class="blue-text">Applicant answer</h4>
                <p>{{ q.applicant_answer }}</p>
                <h4 class="blue-text">Company answer</h4>
                <p>{{ q.actual_answer }}</p>
                <br><br>
            </div>
        {% endfor %}
        </div>
    {% else %}

        <p id="buffer">No questions yet!</p>
    {% endif %}
    <h2> Comments </h2>
    {% if comments %}
      {% for comment in comments %}
          <div id="comment">
            <div id="profile-img" style="background-image: url('{{ comment.commenter.profile_pic }}');">
            </div>
            <p id="commenter"> {{comment.commenter}} </p>
            <p style="padding-left:40px;"> {{comment.content}} </p><br>
          </div>
      {% endfor %}
    {% else %}

     <div id ="comment">
          </div>
      <div id ="init"><p>No comments yet!</p></div>
    {% endif %}


  </div>

</body>
    <script src="{% static 'js/application.js' %}"></script>
    <script src="{% static 'js/showcommentsap.js' %}"></script>
    <script src="{% static 'js/createquestion.js' %}" type="text/javascript"></script>
{% endblock %}
