boto3==1.7.2
botocore==1.10.2
certifi==2017.11.5
chardet==3.0.4
dj-database-url==0.4.2
Django>=2.0.11
django-appconf==1.0.2
django-compressor==2.2
django-extensions==1.9.6
django-sass-processor==0.7.2
docutils==0.14
gunicorn==19.7.1
idna==2.6
jmespath==0.9.3
libsass==0.16.1
Pillow==5.0.0
psycopg2==2.7.3.1
python-dateutil==2.6.1
pytz==2017.2
rcssmin==1.0.6
requests>=2.20.0
rjsmin==1.0.12
s3transfer==0.1.13
slackclient>=1.0.2
six==1.11.0
urllib3>=1.23
whitenoise==3.3.1
