.btn {
  background-color: $teal;
  border: none;
  color: #fff;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.1s ease-in-out;

  &:hover {
    background-color: $teal-dark;
  }
}

.btn-sm {
  font-size: 14px;
}
.btn-xs {
  font-size: 12px;
}
.btn-md {
  font-size: 16px;
}

button.small-teal {
  background-color: $teal;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
}

button.tiny-teal {
  background-color: $teal;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 4px;
}

button.big {
  background-color: #008489; /* Teal */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}