ul.company-suggestions {
  list-style-type: none;
  position: absolute;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  width: 40%;
  display: none;
}

div.active ul.company-suggestions {
  display: block;
  color: #000;
}

ul.company-suggestions li {
  display: block;
  padding: 1em 1em;
}

ul.company-suggestions li:hover:not(.active) {
  cursor: pointer;
  background-color: #ddd;
  transition: 0.3s;
}