.profile-header {
    padding-bottom: 2%;
    @include flex(center, flex-start);
    &-pic {
        margin: 20px;
        width: 150px;
        height: 150px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    &-body {
        min-height: 200px;
        @include flex(flex-start, space-evenly, column);
        &-name {

        }
        &-links {
            @include flex(flex-start, center);
            &-li {
                @include flex(center, center);
                padding: 8px;
                margin: 0 2px;
                border: 1px solid #ccc;
                border-radius: 3px;
                transition: border-color 0.1s ease-in-out;
                &-icon {
                    margin-right: 5px;
                    width: 30px;
                    height: 30px;
                }
                &:hover {
                    border-color: $teal;
                }
            }
        }
    }
}