@font-face {
  font-family: "Roboto";
  src: url("/static/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("/static/fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("/static/fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("/static/fonts/Roboto-Bold.ttf");
}

.menu {
  height: 30px;
  width: 10%;
}

ul,
li,
a,
button,
input,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
img,
image,
svg,
path,
g,
canvas,
label {
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  text-decoration: none;
  user-select: none;
  list-style: none;
  font-family: "Roboto";
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 600px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 992px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.content {
  margin: 15px 0 80px;
}

h1,
h2 {
  font-family: "Roboto-Bold";
  color: #484848;
}
h3,
h4 {
  font-family: "Roboto-Medium";
  color: #484848;
}

input {
  color: #484848;
}

.display {
  display: block !important;
}

button:hover {
  cursor: pointer;
  background-color: #01696d;
}

.item {
  display: inline-block;
  padding: 1px;
}

.bar{
    width: 80%;
}

.hidden {
    display: None;
}

#topsearch {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#topsearch > .item {
  margin-right: 1em;
}

/* Pace.js loading bar. */

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

