#form {
    margin-top: 20px;
}

.space {
    margin-bottom: 3px;
}

span {
    margin: 3px;
}

.border-text input {
    margin-top: 5px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    width: 500px;
    height: 28px;
    padding: 5px;
    font-size: 15px;
    background-color: #f8f8f8;
}


.border {
    margin-top: 5px;
}


/*Idea inspired by Group 1's createprofile.css*/
#submit input {
    width: 10%;
    background-color: #008489;
    color: White;
    border: none;
    border-radius: 2px;
    padding: 10px 10px;
    outline: none;
}

#submit input:hover {
    transition-duration: 0.3s;
    background-color: #01959b;
}

.sub {
    background-color: #008489;
    color: White;
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    outline: none;

}
.companyportion {
    position: relative ;
    top:10%;
    left:5%;
    padding-bottom: 2%;



}
.sub1{
  display:inline-block;
  position: relative;
  top:-40px;
}
.logo {
   display: inline;
}

.button {
   display: block;
   padding: 1%;

}
