#codor {
  font-size: 40px;
  color: #008489;
}

#searchtype {
  width: 83%;
  height: 35px;
  font-size: 15px;
  outline: 0;
}

#search {
  float: right;
  background-color: #008489;
  color: White;
  border: none;
  border-radius: 2px;
  padding: 10px 30px;
  outline: none;
  position: relative;
  top: -35px;
  left: -30px;
}

#searchbar {
  width: 80%;
  height: 3%;
  margin-top: 10px;
  padding: 15px 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
}

#subtitle {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#form {
  margin-top: 20px;
}

.space {
  margin-bottom: 3px;
}

span {
  margin: 3px;
}

.border-text input {
  margin-top: 5px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  width: 70%;
  height: 28px;
  padding: 5px;
  font-size: 15px;
  background-color: #f8f8f8;
}

.border {
  margin-top: 5px;
}

/*Idea inspired by Group 1's createprofile.css*/
#submit input {
  width: 10%;
  background-color: #008489;
  color: White;
  border: none;
  border-radius: 2px;
  padding: 10px 10px;
  outline: none;
}

#submit input:hover {
  transition-duration: 0.3s;
  background-color: #01959b;
}

.sub {
  background-color: #008489;
  color: White;
  border: none;
  border-radius: 2px;
  padding: 10px 20px;
  outline: none;
}

.companyportion {
  position: relative;
  top: 10%;
  left: 5%;
  padding-bottom: 2%;
}

.sub1 {
  display: inline-block;
  position: relative;
  top: -40px;
}

.logo {
  display: inline;
}

#break {
  height: 3px;
  background-color: #01959b;
  position: relative;
  left: 5%;
  width: 90%;
}

#reviews {
  position: relative;
  left: 5%;
}

#reviewtitle {
  color: #01959b;
}

#reviewtitle:hover {
  transition: 0.3s;
  color: #016265;
}

.indent {
  margin-top: 1%;
  margin-bottom: 1%;
  position: relative;
  left: 5%;
}

.nav_items {
  color: #01959b;
  font-size: 20px;
  padding-right: 8%;
  font-weight: bold;
}

.nav_items:hover {
  transition: 0.3s;
  color: #016265;
}

#active_item {
  color: black;
}

ul.company-suggestions {
  list-style-type: none;
  position: absolute;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  width: 40%;
  display: none;
}

div.active ul.company-suggestions {
  display: block;
}

ul.company-suggestions li {
  display: block;
  padding: 1em 1em;
}

ul.company-suggestions li:hover:not(.active) {
  cursor: pointer;
  background-color: #ddd;
  transition: 0.3s;
}

.active {
  background-color: #01959b;
  color: white;
}

#recommend {
  margin-top: 5px;
  margin-bottom: 5px;
}

.inline-block {
  display: inline-block;
}

button.small-teal {
  background-color: #01959b; /* Teal */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
}

button.tiny-teal {
  background-color: #01959b; /* Teal */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 4px;
}

.company {
  width: 300px;
  height: 300px;
  background-position: center;
  background-size: cover;
}

button.big {
  background-color: #008489; /* Teal */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

button.small {
  background-color: #ff9b71; /* Orange */
  border: none;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
}
