form {
  width: 30%;
  margin: 50px auto;
}

.profile-form-entry {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 20px;
}

.profile-form-label {
  font-style: italic;
}

.profile-form-input {
  border-radius: 2px;
  padding: 6px 6px;
  border: 1px solid #cccccc;
  outline: none;
  width: 100%;
}

.profile-form-input:hover {
  transition-duration: 0.3s;
  border: 1px solid #008489;
}

.profile-form-input:focus {
  border: 1px solid #008489;
}

#submit {
  width: 50%;
  margin: 50px auto;
  text-align: center;
}

#submit input {
  width: 80%;
  background-color: #008489;
  color: White;
  border: none;
  border-radius: 2px;
  padding: 10px 20px;
  outline: none;
  font-family: Roboto;
}

#submit input:hover {
  transition-duration: 0.3s;
  background-color: #01959b;
}
