.nav {
    height: 40px;

}
.nav > .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-left {
    flex: 1;
    display: inline-block;
    align-items: left;
    justify-content: flex-start;
}
.nav-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#logo {
    margin-top: 160px;
    width: 100px;
}
#profile-circle {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

body {
    font-family: Roboto;
}

#failed p {
    color: Red;
}

h1 {
    margin-top: 30px;
    margin-left: 80px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #008489;
}

h2 {
    font-family: Roboto-Light;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: lighter;
    color: #008489;
}


form {
    width: 30%;
    margin: 50px auto;
}

.entry {
    font-style: italic;
    margin-top: 40px;
}

.entry input {
    margin-left: 20px;
    border-radius: 2px;
    padding: 6px 6px;
    border: 1px solid #cccccc;
    outline: none;
}

.entry input:hover {
    transition-duration: 0.3s;
    border: 1px solid #008489;
}

.entry input:focus {
    border: 1px solid #008489;
}

#submit {
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

#submit input {
    width: 80%;
    background-color: #008489;
    color: White;
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    outline: none;
    font-family: Roboto;
}

#submit input:hover {
    transition-duration: 0.3s;
    background-color: #01959b;
}
