.nav {
    height: 140px;

}
.nav > .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.nav-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#profile-circle {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}