.profile-header {
  margin: 50px;
}

.profile-form {
  width: 45%;
  margin: 50px auto;
}

.profile-form .entry {
  margin: 40px;
}

#submit {
  width: 50%;
  margin: 50px auto;
  text-align: center;
}

#submit input {
  width: 80%;
  background-color: #008489;
  color: #fff;
  border: none;
  border-radius: 2px;
  padding: 10px 20px;
  outline: none;
  font-family: Roboto;
}

#submit input:hover {
  transition-duration: 0.3s;
  background-color: #01959b;
}
