@font-face {
    font-family: Roboto;
    src: url(google.com/design/spec/resources/roboto-noto-fonts.html);
}

h4, p {
    font-family: Roboto, Helvetica, sans-serif;
}

button.big {
    background-color: #008489; /* Teal */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

button.small {
    background-color: #008489; /* Teal */
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
}

textarea {
    width: 70%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

div.entry {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

div#applicantAnswer {
    display: none;
}

div#companyAnswer {
    display: none;
}

div.post {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

h4.blue-text {
    color: #008489;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Content/Box */
.modal-content {
    background-color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 65%; /* Could be more or less, depending on screen size */
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}





