body{
    font-family: roboto;
    padding: 80px;
    margin: auto;
    width: 90%;

}

a {
    text-decoration: none;
    color: black;
}

.block{
    display: inline-block;
    padding: 23px 10px 0px 23px;
<<<<<<< HEAD
=======
    color: black
>>>>>>> c16ebfbafb01656e730eab4554447671c436eec6


}

body #edit-profile{
    font-style: italic;
    font-weight: 100;
    font-size: 80%;
    color: rgba (47, 128, 237, 1);
    line-height: 0.1;
    padding: 0px 0px 10px 23px;
}



#name{
    font-weight: 1000;
    font-size: 200%;
<<<<<<< HEAD
    line-height: 0.3;
=======
    line-height: 2;
    color: black;
>>>>>>> c16ebfbafb01656e730eab4554447671c436eec6
}

#job{
    font-style: italic;
    font-weight: lighter;
    font-size: 100%;
<<<<<<< HEAD
    line-height:0.4;
=======
    line-height:1.6;
    color: black;
>>>>>>> c16ebfbafb01656e730eab4554447671c436eec6
}

#classof{
    font-weight: 100;
    font-size: 90%;
<<<<<<< HEAD
    line-height: 0.4;
=======
    line-height: 2;
    color: black;
>>>>>>> c16ebfbafb01656e730eab4554447671c436eec6
}



div#info{
    font-weight: 300;
    font-size: 90%;
<<<<<<< HEAD
    line-height: 2.5;
=======
    line-height: 3.8;
>>>>>>> c16ebfbafb01656e730eab4554447671c436eec6
}

#icon{
    padding = 5px;
}
