
a {
    text-decoration: none;
    color: black;
}

.block{
    display: inline-block;
    padding: 10px 10px 0px 23px;
    margin-left: 5%;
}

body #edit-profile{
    font-style: italic;
    font-weight: 100;
    font-size: 80%;
    color: rgba (47, 128, 237, 1);
    line-height: 0.1;
    padding: 0px 0px 10px 23px;
}


#name{
    font-weight: 1000;
    font-size: 200%;
}

#job{
    font-style: italic;
    font-weight: lighter;
    font-size: 100%;
}

#classof{
    font-weight: 100;
    font-size: 90%;
}



div#info{
    font-weight: 300;
    font-size: 90%;
    line-height: 2.5;
}

#icon{
    padding = 5px;
}

#profile-pic {
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: cover;
}