@import 'fonts/fonts';
@import 'constants/constants';
@import 'utils/utils';

@import 'components/button';
@import 'components/card';
@import 'components/card-list';
@import 'components/company-header';
@import 'components/company-tabs';
@import 'components/input';
@import 'components/link';
@import 'components/modal';
@import 'components/nav';
@import 'components/pagination';
@import 'components/profile-header';
@import 'components/search-jumbotron';
@import 'components/search-results';

.menu {
  height: 30px;
  width: 10%;
}

ul,
li,
a,
button,
input,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
img,
image,
svg,
path,
g,
canvas,
label {
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  text-decoration: none;
  user-select: none;
  list-style: none;
  font-family: "Roboto";
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 600px;
  margin: 0 auto;
}

@media (min-width: $screen-sm-min) {
  .container {
    width: $screen-sm-min;
  }
}
@media (min-width: $screen-md-mid) {
  .container {
    width: $screen-md-mid;
  }
}
@media (min-width: $screen-lg-min) {
  .container {
    width: $screen-lg-min;
  }
}

.content {
  margin: 0 auto;
  .container {
    box-sizing: border-box;
    padding: 0 80px;
  }
}

h1,
h2 {
  font-family: "Roboto-Bold";
  color: #484848;
}
h3,
h4 {
  font-family: "Roboto-Medium";
  color: #484848;
}

.display {
  display: block !important;
}

.item {
  display: inline-block;
  padding: 1px;
}

.hidden {
    display: None;
}

/* Pace.js loading bar. */

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

