@font-face {
  font-family: "Roboto";
  src: url("/static/fonts/Roboto-Regular.ttf"); }

@font-face {
  font-family: "Roboto-Light";
  src: url("/static/fonts/Roboto-Light.ttf"); }

@font-face {
  font-family: "Roboto-Medium";
  src: url("/static/fonts/Roboto-Medium.ttf"); }

@font-face {
  font-family: "Roboto-Bold";
  src: url("/static/fonts/Roboto-Bold.ttf"); }

.btn {
  background-color: #008489;
  border: none;
  color: #fff;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.1s ease-in-out; }
  .btn:hover {
    background-color: #01696d; }

.btn-sm {
  font-size: 14px; }

.btn-xs {
  font-size: 12px; }

.btn-md {
  font-size: 16px; }

.card {
  margin-bottom: 10px; }
  .card td {
    height: auto;
    padding: 1px 5px;
    vertical-align: center; }

.card-list {
  padding: 30px 0px; }
  .card-list-container {
    padding: 20px 0px;
    margin-bottom: 10px; }
  .card-list-header h3 {
    margin-bottom: 20px; }
  .card-list-header h2 {
    margin-bottom: 20px; }
  .card-list-filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    padding: 40px 15px; }

.company-header {
  padding-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row; }
  .company-header-logo {
    margin: 20px; }
  .company-header-body {
    min-height: 140px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column; }
    .company-header-body-links {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: row; }
      .company-header-body-links-li {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
        padding: 8px;
        margin: 0 2px;
        border: 1px solid #ccc;
        border-radius: 3px;
        transition: border-color 0.1s ease-in-out; }
        .company-header-body-links-li-icon {
          margin-right: 5px; }
        .company-header-body-links-li:hover {
          border-color: #008489; }

ul.company-suggestions {
  list-style-type: none;
  position: absolute;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  width: 40%;
  display: none; }

div.active ul.company-suggestions {
  display: block;
  color: #000; }

ul.company-suggestions li {
  display: block;
  padding: 1em 1em; }

ul.company-suggestions li:hover:not(.active) {
  cursor: pointer;
  background-color: #ddd;
  transition: 0.3s; }

.company-tabs {
  padding: 20px 10px; }
  .company-tabs-tab {
    color: #01959b;
    font-size: 22px;
    padding-right: 8%;
    font-weight: bold;
    display: inline; }
    .company-tabs-tab.active {
      color: #484848; }

#nav {
  margin-top: 3%;
  margin-bottom: 3%;
  position: relative;
  left: 5%; }

.input-text {
  display: block;
  width: 100%;
  height: fit-content;
  overflow-x: scroll;
  font-size: 14px;
  margin-top: 5px;
  padding: 0 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #484848;
  outline: none;
  transition: border-color 0.1s ease-in-out; }
  .input-text:hover, .input-text:focus {
    border-color: #008489; }
  .input-text-area {
    font-family: 'Roboto';
    font-size: 14px;
    color: #484848;
    display: block;
    width: 50em;
    height: 5em;
    overflow: auto;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    transition: border-color 0.1s ease-in-out; }
    .input-text-area:hover, .input-text-area:focus {
      border-color: #008489; }

.input-checkbox {
  cursor: pointer; }
  .input-checkbox-label {
    margin-top: 5px;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #E6E6E6;
    padding: 10px;
    border-radius: 3px;
    transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out; }
    .input-checkbox-label:hover {
      background-color: #E6E6E6;
      border-color: #008489; }

.input-dropdown {
  font-size: 15px;
  border: 1px solid #008489;
  border-radius: 3px;
  outline: none;
  padding: 8px; }

.input-xs {
  width: 8em; }

.input-sm {
  width: 12em; }

.input-md {
  width: 20em; }

.input-lg {
  width: 50em; }

.input-fl {
  width: 100%; }

a {
  color: #008489;
  text-decoration: none; }
  a:hover {
    cursor: pointer; }

.login-header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px; }
  .login-header-item {
    margin: 10px 0; }

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }
  .modal-close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold; }
    .modal-close-btn:hover {
      color: black;
      text-decoration: none;
      cursor: pointer; }
  .modal-content {
    background-color: white;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 70px;
    border: 1px solid #888;
    width: 65%;
    /* Could be more or less, depending on screen size */ }
    .modal-content .entry {
      margin: 20px 0; }

.company-types {
  margin: 5px 0 0 10px; }

.nav {
  height: 110px; }
  .nav .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row; }
  .nav-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row; }
  .nav-right {
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row; }
  .nav-search {
    flex: 1;
    border-left: 2px solid #E6E6E6;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row; }
    .nav-search-icon {
      margin-right: 15px; }
    .nav-search-bar {
      flex: 1; }
    .nav-search-text {
      font-size: 18px;
      padding: 10px;
      width: 100%; }
  .nav-logo {
    margin: 0 25px; }
  .nav-profile-circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-position: center;
    background-size: cover; }
  .nav-logout {
    margin: 0 10px; }

ul.pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  ul.pagination li {
    width: auto;
    display: inline-block;
    color: black;
    padding: 8px 16px;
    border: 1px solid #ddd; }
    ul.pagination li.active {
      background-color: #01959b;
      color: white;
      border-radius: 5px; }
    ul.pagination li:hover:not(.active) {
      display: inline;
      background-color: #ddd;
      border-radius: 5px;
      transition: 0.3s; }

.profile-header {
  padding-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row; }
  .profile-header-pic {
    margin: 20px;
    width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat; }
  .profile-header-body {
    min-height: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column; }
    .profile-header-body-links {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: row; }
      .profile-header-body-links-li {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 8px;
        margin: 0 2px;
        border: 1px solid #ccc;
        border-radius: 3px;
        transition: border-color 0.1s ease-in-out; }
        .profile-header-body-links-li-icon {
          margin-right: 5px;
          width: 30px;
          height: 30px; }
        .profile-header-body-links-li:hover {
          border-color: #008489; }

.search-jumbotron {
  padding: 80px 50px;
  margin-bottom: 20px; }
  .search-jumbotron-header {
    font-size: 40px;
    color: #008489; }
  .search-jumbotron-subtitle {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px; }
  .search-jumbotron-searchbar {
    width: 80%;
    height: 3%;
    margin-top: 10px;
    padding: 15px 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12); }
    .search-jumbotron-searchbar-submit {
      float: right;
      padding: 10px 30px;
      position: relative;
      left: -30px; }
  .search-jumbotron-searchtype {
    width: 83%;
    height: 35px;
    font-size: 15px;
    outline: 0; }

.search-results {
  display: inline-block;
  width: 75%;
  float: right; }
  .search-results-number {
    margin-bottom: 10px;
    font-family: 'Roboto';
    color: #7F7F7F; }
  .search-results-types {
    display: inline-block;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    width: 20%;
    float: left; }
    .search-results-types-type {
      margin: 15px;
      font-weight: bold;
      font-size: 16px; }
      .search-results-types-type .active {
        font-weight: normal; }

.menu {
  height: 30px;
  width: 10%; }

ul,
li,
a,
button,
input,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
img,
image,
svg,
path,
g,
canvas,
label {
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  text-decoration: none;
  user-select: none;
  list-style: none; }

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto"; }

.container {
  width: 600px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .container {
    width: 768px; } }

@media (min-width: 992px) {
  .container {
    width: 992px; } }

@media (min-width: 1200px) {
  .container {
    width: 1200px; } }

.content {
  margin: 0 auto; }
  .content .container {
    box-sizing: border-box;
    padding: 0 80px; }

h1,
h2 {
  font-family: "Roboto-Bold";
  color: #484848; }

h3,
h4 {
  font-family: "Roboto-Medium";
  color: #484848; }

.display {
  display: block !important; }

.item {
  display: inline-block;
  padding: 1px; }

.hidden {
  display: None; }

/* Pace.js loading bar. */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.pace-inactive {
  display: none; }

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px; }
