{% comment %}
Application Component.

Renders a single application element.

:param: a - An application dictionary.
:param: dummy - (Boolean) Whether the application is invisible or not.
{% endcomment %}

<table class="{% if dummy %}hidden{% endif %} card" id="{% if dummy %}dummy-application{% endif %}">
  <tr>
    {% if a and a.company.logo != null %}
      <td rowspan="3" width="7%">
        <img class="application-company-logo" src="{{a.company.logo}}" width="100" height="100">
      </td>
    {% else %}
      <td rowspan="3" width="7%">
        <img class="application-company-logo" src="/static/images/temp.png" width="100" height="100">
      </td>
    {% endif %}
    <td width="93%">
      {% if a %}
        <a class="application-company-link" href="{% url 'codedoor:viewcompany' pk=a.company.pk database='applications' %}">
          <h2 class="application-link-text">{{ a.company }}</h2>
        </a>
        <span class="application-applicant-name">{{ a.profile }}</span>
      {% else %}
        <a class="application-company-link" href="#">
          <h2 class="application-link-text"></h2>
        </a>
        <span class="application-applicant-name"></span>
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      {% if a %}
        <p><a class="info job-position" href="{% url 'codedoor:view_application' pk=a.pk %}">{{a.position}}</a>
        {% if a.season == 1 %}
          <span class="info job-season">Fall {{a.year}}</span>
        {% elif a.season == 2 %}
          <span class="info job-season">Winter {{a.year}}</span>
        {% elif a.season == 3 %}
          <span class="info job-season">Spring {{a.year}}</span>
        {% else %}
          <span class="info job-season">Summer {{a.year}}</span>
        {% endif %}
        </p>
      {% else %}
      <p>
        <a class="info job-position" href="#"></a>
        <span class="info job-season"></span>
      </p>
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      <p><span class="info colorful-boxy">
        {% if a and a.received_offer %}
          <span>
            <svg width="15" height="15">
            <rect class="application-offer-icon" x="0" y="0" rx="3" ry="3" width="15" height="15"
            style="fill:#01959b" />
            </svg>
            <span class="application-offer-text">Received Offer</span>
          </span>
        {% else %}
          <span>
            <svg width="15" height="15">
            <rect class="application-offer-icon" x="0" y="0" rx="3" ry="3" width="15" height="15"
            style="fill:#ff4d4d" />
            </svg>
            <span class="application-offer-text">No Offer</span>
          </span>
        {% endif %}
      </span>
      <span class="info colorful-boxy">
        {% if not a %}
          <span>
            <svg width="15" height="15">
            <rect class="application-difficulty-icon" x="0" y="0" rx="3" ry="3" width="15" height="15"
            style="fill:#ff4d4d" />
            </svg>
            <span class="application-difficulty-text"></span>
          </span>
        {% elif a.difficult > 7 %}
          <span>
            <svg width="15" height="15">
            <rect class="application-difficulty-icon" x="0" y="0" rx="3" ry="3" width="15" height="15"
            style="fill:#ff4d4d" />
            </svg>&nbsp;&nbsp;
            <span class="application-difficulty-text">Difficult Interview: {{a.difficult}}/10</span>
          </span>
        {% elif a.difficult < 4 %}
          <span>
            <svg width="15" height="15">
            <rect class="application-difficulty-icon" x="0" y="0" rx="3" ry="3" width="15" height="15"
            style="fill:#01959b" />
            </svg>&nbsp;&nbsp;
            <span class="application-difficulty-text">Easy Interview: {{a.difficult}}/10</span>
          </span>
        {% else %}
          <span>
            <svg width="15" height="15">
            <rect class="application-difficulty-icon" x="0" y="0" rx="3" ry="3" width="15" height="15"
            style="fill:#FF9B71;" />
            </svg>&nbsp;&nbsp;
            <span class="application-difficulty-text">Average Interview: {{a.difficult}}/10</span>
          </span>
        {% endif %}
      </span></p>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <h4>Description:</h4>
      {% if a %}
        <p class="application-desc">{{a.description}}</p>
      {% else %}
        <p class="application-desc"></p>
      {% endif %}
    </td>
  </tr>
</table>
