{% comment %}
ApplicationModal Component.

Includes all the HTML code and JS libraries needed to render an application form modal.

:param: id - (String) The HTML ID of the modal element. (required)
:param: on_submit_list_id - (String) On submission, the modal will append an entry to this HTML element. (required)
:param: company - (Object) A company object to prefill the form. If omitted, the modal will have a search box to select the company.
{% endcomment %}

{% load static %}

<div id={{ id }} class="modal">
  <div class="modal-content">
    <span class="close modal-close-btn">&times;</span>
    <div id="hidden-application">
      <h1> Create Application</h1>
      <div class="entry">
        <h4>Position:</h4>
        <p id="error0"></p>
        <input class="modal-input-position" name="position" placeholder="Job title" type="text" required />
      </div>
      {% if not company %}
      <div class="entry">
        <h4>Company:</h4>
        <div class="border-text">
          <input id="companysearch2" type="text"/>
          <div id="suggestions2">

          </div>
        </div>
        <p id="error1" class="error"></p>
      </div>
      {% endif %}
      <div class="entry">
        <h4>Season:</h4>
        <p id="error1" class="error"></p>
        <select id="season" name="season" class="menu modal-input-season" required>
          <option value="Fall">Fall</option>
          <option value="Winter">Winter</option>
          <option value="Spring">Spring</option>
          <option value="Summer">Summer</option>
        </select>
      </div>
      <div class="entry">
        <h4>Year:</h4>
        <p id="error2" class="error"></p>
        <input class="modal-input-year" type="number" min="1990" max="2018" name="year" placeholder="e.g. 2015" class="select-num" required />
      </div>
      <div class="entry">
        <h4>Difficulty:</h4>
        <p id="error3" class="error"></p>
        <input class="modal-input-difficulty" type="number" min="1" max="10" name="difficulty" placeholder="1-10" class="select-num" required />
      </div>
      <div class="entry">
        <h4>Description:</h4>
        <p id="error4" class="error"></p>
        <textarea class="modal-input-description" name="description" placeholder="Description of application" required></textarea>
      </div>
      <div class="entry">
        <h4>Offer details:</h4>
        <p id="error5" class="error"></p>
        <p id="error6" class="error"></p>
        <p><input class="modal-input-offer-check" type="checkbox" name="received_offer"> Received offer</p>
        <textarea class="modal-input-offer" name="offer_details" placeholder="Offer details if applicable (pay, perks, etc.)"></textarea>
      </div>
      <div class="entry">
        <button type="submit" class="small-teal modal-submit-btn">Submit</button>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/LibDropdown.js' %}"></script>
<script src="{% static 'js/components/ApplicationModal.js' %}"></script>
<script>
    var formInitialState = {
        position: "",
        season: "",
        year: "",
        difficulty: "",
        description: "",
        received_offer: false,
        offer_details: "",
        company: {% if company %} {{company.pk}} {% else %} null {% endif %},
    };
    {% if not company %}
    LibDropdown.createCompanyDropdown("companysearch2", "suggestions2", (pk) => { formInitialState.company = pk; } );
    {% endif %}
    var applicationModal = new ApplicationModal(
        formInitialState,
        "/codedoor/createapplication",
        "{{ on_submit_list_id }}",
        "{{ id }}",
    );
</script>
