{% comment %}
ReviewModal Component.

Includes all the HTML code and JS libraries needed to render an review form modal.

:param: form_title - (String) The title of the form. (required)
:param: id - (String) The HTML ID of the modal element. (required)
:param: on_submit_list_id - (String) On submission, the modal will append an entry to this HTML element. (required)
:param: on_submit_post_url - (String) On submission, the modal POSTs data to this URL. (optional - default: "/codedoor/createreview")
:param: company - (Object) A company object to prefill the form. If omitted, the modal will have a search box to select the company. (optional)
:param: review - (Object) A review object to prefill the form. (optional)
{% endcomment %}

{% load static %}

<div id={{ id }} class="modal">
  <div class="modal-content">
    <span class="modal-close-btn">&times;</span>
    <h1> {{ form_title }} </h1><br>
    <div class="entry">
      <h4>Review Title</h4>
      <div class="border-text">
        <div id="title">
          {% if review %}
            <input type="text" name="title" class="modal-input-title input-text input-md" value="{{review.title}}">
          {% else %}
            <input type="text" name="title" class="modal-input-title input-text input-md">
          {% endif %}
        </div>
        <p class="error modal-title-error">
        </p>
      </div>
    </div>
    {% if not company %}
    <div class="entry">
        <h4>Company</h4>
        <div class="border-text">
          <input id="review-modal-companysearch" class="input-text input-md" type="text"/>
          <div id="review-modal-suggestions">
          </div>
        </div>
        <p class="error modal-company-error">
        </p>
      </div>
      {% endif %}
      <div class="entry">
      <h4>Rating</h4>
      <div class="border-text">
        <div id="number">
          {% if review %}
            <input type="number" name="rating" min="0" max="5" step="1" class="modal-input-rating input-text input-xs" value={{review.rating}}>
          {% else %}
            <input type="number" name="rating" min="0" max="5" step="1" class="modal-input-rating input-text input-xs">
          {% endif %}
        </div>
      </div>
      <p class="error modal-rating-error">
      </p>
    </div>
    <div class="entry"><h4>Recommend</h4>
      <label for="{{ id }}-recommend" class="input-checkbox-label">
        {% if review and review.recommend %}
          <input type="checkbox" id="{{ id }}-recommend" class="modal-input-recommend-check input-checkbox" checked />
        {% else %}
          <input type="checkbox" id="{{ id }}-recommend" class="modal-input-recommend-check input-checkbox" />
        {% endif %}
        Recommend this company
      </label>
      <p class="error" class="modal-recommend-error">
      </p>
    </div>
    <div class="entry">
      <h4>Review</h4>
      <div class="border">
        <textarea type="text" name="review" class="modal-input-review input-text-area">{{review.review}}</textarea>
      </div>
      <p class="error modal-review-error">
      </p>
    </div><br>
    <button class="modal-submit-btn btn btn-sm">Submit Review</button>
  </div>
</div>

<script src="{% static 'js/LibDropdown.js' %}"></script>
<script src="{% static 'js/components/ReviewModal.js' %}"></script>
<script>
    var reviewData = {
      reviewTitle: "",
      rating: 1,
      recommend: "False",
      review: "",
      company: {% if company %} {{ company.pk }} {% else %} "0" {% endif %},
    };
    {% if not company %}
    LibDropdown.createCompanyDropdown(
        "review-modal-companysearch",
        "review-modal-suggestions",
        (pk) => { reviewData.company = pk; },
    );
    {% endif %}
    var reviewModal = new ReviewModal(
        reviewData,
        "{{ on_submit_post_url }}" || "/codedoor/createreview",
        "{{ on_submit_list_id }}",
        "{{ id }}",
    );
</script>
